!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Local environment variables file
local.env.json

# The ESBuild output directory
dist

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

outfile.txt